apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: prova4
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 31000

